.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}

.logoWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logoWrapper::before {
  content: '';
  position: absolute;
  border: 3px solid transparent;
  border-top-color: currentColor;
  border-right-color: currentColor;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  animation: spin 1s linear infinite;
  z-index: 0;
}

.logoWrapper.small::before {
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-left: -60px;
}

.logoWrapper.medium::before {
  width: 180px;
  height: 180px;
  margin-top: -90px;
  margin-left: -90px;
}

.logoWrapper.large::before {
  width: 240px;
  height: 240px;
  margin-top: -120px;
  margin-left: -120px;
}

.logo {
  animation: heartbeat 1.5s ease-in-out infinite;
  transform-origin: center;
  position: relative;
  z-index: 1;
}

/* Size variants */
.small .logo {
  width: 100px;
  height: 100px;
}

.medium .logo {
  width: 150px;
  height: 150px;
}

.large .logo {
  width: 200px;
  height: 200px;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.2);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.2);
  }
  56% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

