* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM sans;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* hide the scrollbar completely */
html::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
